# Datos crudos grandes (solo subir el .zip)
data/raw/*.csv

# Datos procesados generados localmente
data/processed/

# Entorno virtual de Python
.venv/

# Jupyter
.ipynb_checkpoints/

# Python
__pycache__/
*.pyc
*.pyo

# PySpark / Derby (se generan al correr Spark localmente)
derby.log
metastore_db/
